$media: 768px;
$time: 0.3s;
$smooth: 0.5s;
$smoother: 0.7s;
$border-radius: 0.94vw;
$border-radius-mobile: 2.67vw;
$gold: #bc8565;
$brown: #8c4318;
$dark: #2c2c2c;
$toner: #ebe5df80;
$beige: #dbd6d5;
